.home{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media screen and (max-width: 430px) {
    .inputbox{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .home{
        margin-top: 0px;
    }
  }







