.main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followname{
    width: 150px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}